/*
	Melissa Khuat
	Computer Science & Engineering
	University of Washington, 2017
	Slack Coding Exercise: Website Analyzer (Styles)
*/

body, #query {
	font-family: "Lucida Sans Unicode", Helvetica, Arial, sans-serif;
}

#error {
	padding: 15px;
	background: #DE8A99;
	height: 50px;
	margin: 10px 0;
	width: 500px;
	box-shadow: 0 0 3px black;
	border-radius: 10px;
}

#mySource {
	width: 100%;
}

.wrap-text {
	/* Different ways of wrapping text, keep 
	 all for max browser compatibility */
	overflow-wrap: break-word;
	-ms-word-break: break-all;
	word-wrap: break-word;
	word-break: break-word;
}